<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/app.css" rel="stylesheet" />
		<style type="text/css">
			.order-det img{
				width: 90px;
				margin-top: 5px;
				margin-right: 10px;
			}
			.nomore{
				width: 280px;
				margin: auto;
				text-align: center;
			}
			.nomore img{
				width: 100%;
				margin: 30px 0;
			}
			.hide{
				display: none;
			}
			.col-goods-tit img.logo{
				width: 18px;
				vertical-align: -3px;
				margin-right: 2px;
			}
			.order-tab li{
				border-bottom: 1px solid transparent;
			}
			.copy{
				border: 1px solid #E5E5E5;
				padding: 0 8px;
				border-radius: 13px;
			}
			.mui-ellipsis-1
			{
			    display: -webkit-box;
			    overflow: hidden;
			
			    white-space: normal !important;
			    text-overflow: ellipsis;
			    word-wrap: break-word;
			
			    -webkit-line-clamp: 1;
			    -webkit-box-orient: vertical;
			}
			.col-goods-item-bot.order-det-bot{
				padding:3px 5px 0;
			}
			#order_box{
				margin-bottom: 30px;
			}
			.col-shop-img img {
				/*width: auto;*/
			    /*height: auto;*/
			    border-radius: 3px;
			}
		</style>
	</head>
	<body>
		<!--头部-->
			<header class="mui-bar mui-bar-nav">
			<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #888;"></span>
			<a href="javascript:;" class="mui-ellipsis"></a>
		    <h1 class="mui-title">淘宝订单</h1>
		</header>
		<div class="content">
			<ul class="mt1 order-tab">
				<li class="active" status="0"><a href="javascript:;">全部</a></li>
				<li status="2"><a href="javascript:;">已付款</a></li>
				<li status="1"><a href="javascript:;">已结算</a></li>
				<li status="3"><a href="javascript:;">已失效</a></li>
			</ul>
			<div class="nomore hide">
				<img src="../images/nomore.png"/>
				<p>您还没有任何订单，快去买买买吧！</p>
			</div>
			<!--商品-->
			<ul class="" id="order_box">
				<script type="text/template" id="order">
					{{each orderlist as value i}}
					<li class="col-shop-item">
							<div class="col-shop-img order-det">
					            <img class="mui-pull-left" src="{{value.order.picUrl}}" alt="" />
					            <div class="">
					                <p class="mui-ellipsis-1 col-goods-tit">
					                	{{if value.order.type == 1&& value.order_type == 1}}
										<img class="logo" src="../images/taobao@2x.png"/>
										{{else if value.order.type == 1&& (value.order.order_type == 2||value.order.order_type == 3)}}
										<img class="logo" src="../images/tianmao.png"/>
										{{else if value.order.type == 2}}
										<img class="logo" src="../images/jingdong@2x.png"/>
										{{else if value.order.type == 3}}
										<img class="logo" src="../images/pinduoduo@2x.png"/>
										{{/if}}
					                	{{value.order.title}}
					                </p>
					                <div class="col-goods-item-bot order-det-bot">
										<i style="max-width: 180px;" class="mui-ellipsis">订单号：{{value.order_id}}</i>
										<i class="copy" copy="{{value.order_id}}">复制</i>
									</div>
									<div class="col-goods-item-bot order-det-bot">
										<i>创建日：{{value.order.created_at}}</i>
										{{if value.order.order_status != 3 && value.order.settlement_at != 0}}
										<i>结算日：{{value.order.settlement_at}}</i>
										{{/if}}
										<!--<i>销量:1268</i>-->
									</div>
									<div class="col-goods-item-bot order-det-bot" style="padding-top: 8px;">
										<i>实付：<i class="col-goods-price">￥{{value.order.payment_price}}</i></i>
										<!--<i>x{{value.product_num}}</i>-->
										<i class="col-goods-price">预估佣金:{{value.price}}</i>
									</div>
					            </div>
							</div>
					</li>
					{{/each}}
				</script>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/http.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/template-web.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var page = 1;
			var order = {};
			var order_status = 0;
			var type=1;
			mui.init({
				pullRefresh:{
					container:"#order_box",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
					down:{
						 style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
				        color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
				        height:'50px',//可选,默认50px.下拉刷新控件的高度,
				        range:'100px', //可选 默认100px,控件可下拉拖拽的范围
				        offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
				        auto: true,//可选,默认false.首次加载自动上拉刷新一次
				        callback:pulldownRefresh
					},
					up:{
				        auto:false,//可选,默认false.自动上拉加载一次
				        contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
				        contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
				        callback :pullupRefresh
					}
				}
			});
			
			function pulldownRefresh(){ //刷新
				var _this = this;
				page = 1;
				Http.post({
					api:'ORDER',
					data:{type:type,page:page,order_status:order_status},
					success:function(res){
						mui('.nomore')[0].classList.add('hide')
						order = {orderlist:res.data};
						var html = template('order',order);
						document.getElementById('order_box').innerHTML = html;
						mui('#order_box').pullRefresh().endPulldown();
						mui('#order_box').pullRefresh().refresh(true);
					},
					one:function(){
						order = {orderlist:[]};
						var html = template('order',order);
						document.getElementById('order_box').innerHTML = html;
						mui('#order_box').pullRefresh().endPulldown();
						mui('#order_box').pullRefresh().refresh(false);
						mui('.nomore')[0].classList.remove('hide');
						console.log(this)
						mui('#order_box').pullRefresh().endPullupToRefresh(true);
					}
				})
			};
			function pullupRefresh(){
				var _this = this;
				Http.post({
					api:'ORDER',
					data:{type:type,page:++page,order_status:order_status},
					success:function(res){
						order.orderlist = order.orderlist.concat(res.data);
						var html = template('order',order);
						document.getElementById('order_box').innerHTML = html;
						mui('#order_box').pullRefresh().endPulldown();
		    			_this.endPullupToRefresh(false);
						
					},
					one:function(){
						mui('#order_box').pullRefresh().endPulldown();
	        			_this.endPullupToRefresh(true);
						mui.toast('没有更多了');
					}
				})
			};
			
			
			mui.plusReady(function(){
//				window.location.href = 'wlh:///goods/106'
				var currentView = plus.webview.currentWebview();
				/* type = currentView.type;
				alert(type+","+page+","+order_status)
				if(currentView.status){
					order_status = currentView.status;
					console.log(order_status)
					if(order_status == 0){
						
					}else if(order_status == 2){
						mui('.mt1 li')[0].classList.remove('active');
						mui('.mt1 li')[1].classList.add('active');
					}else if(order_status == 1){
						mui('.mt1 li')[0].classList.remove('active');
						mui('.mt1 li')[2].classList.add('active');
					}else if(order_status == 3){
						mui('.mt1 li')[0].classList.remove('active');
						mui('.mt1 li')[3].classList.add('active');
					}
				} */
				//alert(type+","+page+","+order_status+"a")
				Http.post({
					api:'ORDER',
					data:{type:type,page:1,order_status:order_status},
					success:function(res){
						currentView.show('slide-in-right', 300);
						plus.nativeUI.closeWaiting();
						mui('.nomore')[0].classList.add('hide')
						order = {orderlist:res.data};
						var html = template('order',order);
						document.getElementById('order_box').innerHTML = html;
					},
					one:function(res){
						currentView.show('slide-in-right', 300);
						plus.nativeUI.closeWaiting();
						mui('.nomore')[0].classList.remove('hide');
					}
				})
				//点击切换
				mui('.content').on('tap','.mt1 li',function(){
					plus.nativeUI.showWaiting();
					order_status = this.getAttribute('status');
					page = 1;
					mui('.content .mt1 li').each(function(i,ele){
						ele.classList.remove('active');
					});
					this.classList.add('active');
					//alert(type+","+page+","+order_status+"b")
					Http.post({
						api:'ORDER',
						data:{type:type,page:page,order_status:order_status},
						success:function(res){
							plus.nativeUI.closeWaiting();
							mui('.nomore')[0].classList.add('hide')
							order = {orderlist:res.data};
							var html = template('order',order);
							document.getElementById('order_box').innerHTML = html;
							console.log(html)
						},
						one:function(res){
							order = {orderlist:[]};
							var html = template('order',order);
							document.getElementById('order_box').innerHTML = html;
							plus.nativeUI.closeWaiting();
							mui('.nomore')[0].classList.remove('hide')
						}
					})
				});
				mui('.content').on('tap','.copy',function(){
					var copy_content = this.getAttribute('copy');
					if(mui.os.ios){
						//ios
						var UIPasteboard = plus.ios.importClass("UIPasteboard");
					    var generalPasteboard = UIPasteboard.generalPasteboard();
					    //设置/获取文本内容:
					    generalPasteboard.plusCallMethod({
					        setValue:copy_content,
					        forPasteboardType: "public.utf8-plain-text"
					    });
					    generalPasteboard.plusCallMethod({
					        valueForPasteboardType: "public.utf8-plain-text"
					    });
					}else{
						//安卓
						var context = plus.android.importClass("android.content.Context");
					  	var main = plus.android.runtimeMainActivity();
					  	var clip = main.getSystemService(context.CLIPBOARD_SERVICE);
					  	plus.android.invoke(clip,"setText",copy_content);
					}
					mui.toast('复制成功')
				})
			})
		</script>
	</body>
</html>

